In [6]:
import pandas as pd

In [7]:
city= pd.read_csv("cities.csv")
city

              city
0             Θήβα
1            Λαμία
2            Βόλος
3           Λάρισα
4          Φλώρινα
5            Ξάνθη
6   Αλεξανδρούπολη
7      Διδυμότειχο
8          Ναύπλιο
9            Αίγιο
10         Αγρίνιο
11        Ιωάννινα
12         Γρεβενά
13          Βέροια
14           Δράμα
15       Ορεστιάδα
16           Ρόδος
17           Άργος
18        Ζάκυνθος
19       Μεσολόγγι
20       Ναύπακτος
21         Λευκάδα
22        Λιβαδειά
23            Άρτα
24          Έδεσσα
25          Νάουσα
26       Γιαννιτσά

In [22]:
type(city)

pandas.core.frame.DataFrame

In [25]:
df2 = city.iloc[:, 0]

In [8]:
citiestables = pd.read_html('https://el.wikipedia.org/wiki/%CE%9A%CE%B1%CF%84%CE%AC%CE%BB%CE%BF%CE%B3%CE%BF%CF%82_%CF%80%CF%8C%CE%BB%CE%B5%CF%89%CE%BD_%CF%84%CE%B7%CF%82_%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1%CF%82')

In [9]:
len(citiestables)

7

In [16]:
bigcities = citiestables[1]
bigcities

,Unnamed: 0,Πόλη,Πληθυσμός 2011,Γεωγραφικό διαμέρισμα,Περιφέρεια,Περιφερειακή Ενότητα
0,1,Αθήνα,3.218.218 [Σημ. 1],Στερεά Ελλάδα,Αττικής,Πολλές
1,2,Θεσσαλονίκη,789.191 [Σημ. 2],Μακεδονία,Κεντρικής Μακεδονίας,Θεσσαλονίκης
2,3,Πάτρα,168.202[Σημ. 3],Πελοπόννησος,Δυτική Ελλάδας,Αχαΐας
3,4,Ηράκλειο,153.653 [Σημ. 4],Κρήτη,Κρήτης,Ηρακλείου
4,5,Λάρισα,144.651,Θεσσαλία,Θεσσαλίας,Λάρισας
...,...,...,...,...,...,...
73,74,Ερμούπολη,11.407,Νησιά Αιγαίου Πελάγους,Νοτίου Αιγαίου,Σύρου
74,75,Ιαλυσός,11.331,Νησιά Αιγαίου,Νοτίου Αιγαίου,Ρόδου
75,76,Μάνδρα,11.327,Στερεά Ελλάδα,Αττικής,Δυτικής Αττικής
76,77,Τύρναβος,11.069,Θεσσαλία,Θεσσαλίας,Λαρίσσης
77,78,Γλυκά Νερά,11.049,Στερεά Ελλάδα,Αττικής,Ανατολικής Αττικής

In [18]:
df1 = bigcities.loc[(bigcities['Πόλη'] == "Θήβα")]
df1

,Unnamed: 0,Πόλη,Πληθυσμός 2011,Γεωγραφικό διαμέρισμα,Περιφέρεια,Περιφερειακή Ενότητα
38,39,Θήβα,22.883,Στερεά Ελλάδα,Στερεάς Ελλάδας,Βοιωτίας

In [31]:
df1 = bigcities.loc[(bigcities['Πόλη'].isin(city.iloc[:, 0]))]
df1

,Unnamed: 0,Πόλη,Πληθυσμός 2011,Γεωγραφικό διαμέρισμα,Περιφέρεια,Περιφερειακή Ενότητα
4,5,Λάρισα,144.651,Θεσσαλία,Θεσσαλίας,Λάρισας
5,6,Βόλος,118.707[Σημ. 5],Θεσσαλία,Θεσσαλίας,Μαγνησίας
6,7,Ιωάννινα,65.574,Ήπειρος,Ηπείρου,Ιωαννίνων
10,11,Αλεξανδρούπολη,57.812,Θράκη,Ανατολικής Μακεδονίας και Θράκης,Έβρου
11,12,Ξάνθη,56.122,Θράκη,Ανατολικής Μακεδονίας και Θράκης,Ξάνθης
13,14,Αγρίνιο,55.097 [Σημ. 6],Στερεά Ελλάδα,Δυτικής Ελλάδας,Αιτωλοακαρνανίας
17,18,Λαμία,52.006,Στερεά Ελλάδα,Στερεάς Ελλάδας,Φθιώτιδας
19,20,Ρόδος,49.541,Νησιά Αιγαίου Πελάγους,Νοτίου Αιγαίου,Ρόδου
20,21,Δράμα,44.823,Μακεδονία,Ανατολικής Μακεδονίας και Θράκης,Δράμας
21,22,Βέροια,43.158,Μακεδονία,Κεντρικής Μακεδονίας,Ημαθίας
29,30,Γιαννιτσά,29.789,Μακεδονία,Κεντρικής Μακεδονίας,Πέλλας
38,39,Θήβα,22.883,Στερεά Ελλάδα,Στερεάς Ελλάδας,Βοιωτίας
39,40,Άργος,22.209,Πελοπόννησος,Πελοποννήσου,Αργολίδας
40,41,Άρτα,21.895,Ήπειρος,Ηπείρου,Άρτας
42,43,Λιβαδειά,21.379,Στερεά Ελλάδα,Στερεάς Ελλάδας,Βοιωτίας
44,45,Αίγιο,20.422,Πελοπόννησος,Δυτική Ελλάδας,Αχαΐας
49,50,Νάουσα,18.882,Μακεδονία,Κεντρικής Μακεδονίας,Ημαθίας
50,51,Ορεστιάδα,18.426,Θράκη,Ανατολικής Μακεδονίας και Θράκης,Έβρου
52,53,Έδεσσα,18.229,Μακεδονία,Κεντρικής Μακεδονίας,Πέλλας
53,54,Φλώρινα,17.686,Μακεδονία,Δυτικής Μακεδονίας,Φλωρίνης
62,63,Ναύπλιο,14.203,Πελοπόννησος,Πελοποννήσου,Αργολίδας
63,64,Ναύπακτος,13.415,Στερεά Ελλάδα,Δυτική Ελλάδας,Αιτωλοακαρνανίας
65,66,Γρεβενά,13.137,Μακεδονία,Δυτικής Μακεδονίας,Γρεβενών
66,67,Μεσολόγγι,12.785,Στερεά Ελλάδα,Δυτική Ελλάδας,Αιτωλοακαρνανίας

In [29]:
len(df1)

24

In [5]:
cities[2]

,Unnamed: 0,Πόλη,Πληθυσμός 2011,Γεωγραφικό Διαμέρισμα,Περιφέρεια
0,79,Άγιος Στέφανος,9.892,Στερεά Ελλάδα,Αττικής
1,80,Διαβατά,9.890,Μακεδονία,Κεντρικής Μακεδονίας
2,81,Κιάτο,9.812,Πελοπόννησος,Πελοποννήσου
3,82,Ανατολή,9.798,Ήπειρος,Ηπείρου
4,83,Ζάκυνθος,9.772,Νησιά Ιονίου Πελάγους,Ιονίων Νήσων
...,...,...,...,...,...
90,169,Κυπαρισσία,5.131,Πελοπόννησος,Πελοποννήσου
91,170,Κάρυστος,5.112,Στερεά Ελλάδα,Στερεάς Ελλάδας
92,171,Κρυονέρι,5.040,Στερεά Ελλάδα,Αττικής
93,172,Δροσιά,5.020,Στερεά Ελλάδα,Στερεάς Ελλάδας
94,173,Γαργαλιάνοι,5.007,Πελοπόννησος,Πελοποννήσου

In [32]:
df2 = cities[2].loc[(cities[2]['Πόλη'].isin(city.iloc[:, 0]))]

In [33]:
df2

,Unnamed: 0,Πόλη,Πληθυσμός 2011,Γεωγραφικό Διαμέρισμα,Περιφέρεια
4,83,Ζάκυνθος,9.772,Νησιά Ιονίου Πελάγους,Ιονίων Νήσων
14,93,Διδυμότειχο,9.263,Θράκη,Ανατολικής Μακεδονίας και Θράκης
20,99,Λευκάδα,8.673,Νησιά Ιονίου Πελάγους,Ιονίων Νήσων

In [34]:
df3 = df1[['Πόλη', 'Πληθυσμός 2011']]
df3

              Πόλη   Πληθυσμός 2011
4           Λάρισα          144.651
5            Βόλος  118.707[Σημ. 5]
6         Ιωάννινα           65.574
10  Αλεξανδρούπολη           57.812
11           Ξάνθη           56.122
13         Αγρίνιο  55.097 [Σημ. 6]
17           Λαμία           52.006
19           Ρόδος           49.541
20           Δράμα           44.823
21          Βέροια           43.158
29       Γιαννιτσά           29.789
38            Θήβα           22.883
39           Άργος           22.209
40            Άρτα           21.895
42        Λιβαδειά           21.379
44           Αίγιο           20.422
49          Νάουσα           18.882
50       Ορεστιάδα           18.426
52          Έδεσσα           18.229
53         Φλώρινα           17.686
62         Ναύπλιο           14.203
63       Ναύπακτος           13.415
65         Γρεβενά           13.137
66       Μεσολόγγι           12.785

In [35]:
df4 = df2[['Πόλη', 'Πληθυσμός 2011']]
df4

           Πόλη Πληθυσμός 2011
4      Ζάκυνθος          9.772
14  Διδυμότειχο          9.263
20      Λευκάδα          8.673

In [48]:
df_all_rows = pd.concat([df3, df4]).reset_index(drop=True) 
df_all_rows.iloc[1] = df_all_rows.iloc[1].replace(to_replace='118.707[Σημ. 5]', value = 118.707)
df_all_rows.iloc[5] = df_all_rows.iloc[5].replace(to_replace='55.097 [Σημ. 6]', value = 55.097)
df_all_rows

              Πόλη Πληθυσμός 2011
0           Λάρισα        144.651
1            Βόλος        118.707
2         Ιωάννινα         65.574
3   Αλεξανδρούπολη         57.812
4            Ξάνθη         56.122
5          Αγρίνιο         55.097
6            Λαμία         52.006
7            Ρόδος         49.541
8            Δράμα         44.823
9           Βέροια         43.158
10       Γιαννιτσά         29.789
11            Θήβα         22.883
12           Άργος         22.209
13            Άρτα         21.895
14        Λιβαδειά         21.379
15           Αίγιο         20.422
16          Νάουσα         18.882
17       Ορεστιάδα         18.426
18          Έδεσσα         18.229
19         Φλώρινα         17.686
20         Ναύπλιο         14.203
21       Ναύπακτος         13.415
22         Γρεβενά         13.137
23       Μεσολόγγι         12.785
24        Ζάκυνθος          9.772
25     Διδυμότειχο          9.263
26         Λευκάδα          8.673

In [ ]:
df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv')